
.container {
    margin: 50px auto;
    width: 50%;
    h2 {
        color: #FFE81F;
        font-size: 3.5rem;
        font-weight: bold;
        text-align: center;
    }
    .content {
        border: 1px solid #FFE81F;
        border-radius: 20px;
        padding: 20px;
    }
    .home {
        border: 1px solid #FFE81F;
        border-radius: 5px;
        color: #FFE81F;
        padding: 4px 5px;
        &:hover {
            background: #FFE81F;
            color: #000;
        }
    }
}

