/* Tooltip container */
.tooltipopen {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px solid #FFE81F;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltipopen:hover .tooltip {
    visibility: visible;
  }